<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CAR-D-B</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <!-- Imported Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/form.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />
    <link rel="stylesheet" href="/styles/headers.css" type="text/css" />
    <link rel="stylesheet" href="/styles/messages.css" type="text/css" />
    <link rel="stylesheet" href="/styles/users.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- Event Listeners -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/listings.js"></script>
    <script type="text/javascript" src="/scripts/form.js"></script>
    <script type="text/javascript" src="/scripts/messages.js"></script>
    <script type="text/javascript" src="/scripts/filter.js"></script>
    <script type="text/javascript" src="/scripts/users.js"></script>


    <!-- Select 2 CSS and Script -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- JQuery UI CSS and Script -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>

  <body>
    <headers>
      <%- include('partials/_headers') %><%- include('partials/_messages') %>
      <%- include('partials/_newListing') %><%- include('partials/_users') %>
      <%- include('partials/_browse') %>
    </headers>

    <main class="listings">

    </main>
    <a href='#'
          ><i id='arrow-up' class='fa-solid fa-circle-chevron-up'></i
        ></a>
  </body>
</html>
