<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/f6eb3ac13e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/all-wines.css" type="text/css" />
  <link rel="stylesheet" href="../styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" type="text/css" />
  <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" type="text/css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>White wines</title>
</head>
<body class="main">
  <header>
    <%- include('partials/_navbar') %>
    <h1>All our excellent wines</h1>
  </header>
  <% allWhiteWines.forEach((wine) => { %>
  <div class="wine-listing">
    <img src= <%= wine.wine_image_url %> class="image" >
    <img src= <%= wine.winery_image_url %> class="logo">
    <span class="price">Price: <%= wine.price %></span>
    <span class="year">Year: <%= wine.year %></span>
    <span class="label">Label: <%= wine.wine_type %> </span>
    <span class="award"><%= wine.award %></span>
    <span class="desc"><%= wine.name %></span>
    <i class="fa-solid fa-heart"></i>
    <form method="GET" action="/contact-page">
      <button type="submit" class="contact">Contact</button>
    </form>
    <article class="actual-desc">
      <%= wine.description %>
    </article>
  </div>
  <% }) %>
  <footer>
    <%- include('partials/_footer') %>
  </footer>
  </body>
  </html>
