<% if (locals.task.status === true) { %>
  <div id="task" class="task taskId completed" data-taskId="<%= locals.task.id %>">
    <div class="task_header">
      <h3><%= locals.task.task_name %></h3>
    </div>
    <div class="task_info">
      <p>Created On: <%= locals.task.created_at %></p>
    </div>
    <div class="buttons">
      <form method="POST" action="/personal/<%= locals.task.id %>/priority">
         <button class="button-important">Important</button>
      </form>
      <form method="POST" action="/personal/<%= locals.task.id %>/complete">
         <button class="button-complete">Complete</button>
      </form>
      <form method="POST" action="/personal/<%= locals.task.id %>/delete">
        <button class="button-delete">Delete</button>
      </form>
    </div>
  </div>
<% } else if (locals.task.priority === true) { %>
  <div id="task" class="task taskId important" data-taskId="<%= locals.task.id %>">
    <div class="task_header">
      <h3><%= locals.task.task_name %></h3>
    </div>
    <div class="task_info">
      <p>Created On: <%= locals.task.created_at %></p>
    </div>
    <div class="buttons">
      <form method="POST" action="/personal/<%= locals.task.id %>/priority">
         <button class="button-important">Important</button>
      </form>
      <form method="POST" action="/personal/<%= locals.task.id %>/complete">
         <button class="button-complete">Complete</button>
      </form>
      <form method="POST" action="/personal/<%= locals.task.id %>/delete">
        <button class="button-delete">Delete</button>
      </form>
    </div>
  </div>
<% } else { %>
  <div id="task" class="task taskId" data-taskId="<%= locals.task.id %>">
    <div class="task_header">
      <h3><%= locals.task.task_name %></h3>
    </div>
    <div class="task_info">
      <p>Created On: <%= locals.task.created_at %></p>
    </div>
    <div class="buttons">
      <form method="POST" action="/personal/<%= locals.task.id %>/priority">
         <button class="button-important">Important</button>
      </form>
      <form method="POST" action="/personal/<%= locals.task.id %>/complete">
         <button class="button-complete">Complete</button>
      </form>
      <form method="POST" action="/personal/<%= locals.task.id %>/delete">
        <button class="button-delete">Delete</button>
      </form>
    </div>
  </div>
<% } %>
